<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>RoClans</title>

		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<header>
			<% include templates/header.ejs %>
		</header>
			<% include templates/announcement.ejs %>
		<form>
			<br><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search a resource...">
		</form><br>
		<section id="developmentList">
			<div class="placeListBackground">
			 <ul id="devCells">
				<% resourceData.forEach(function(resourceData) { %>
				   <div class="devContainer"><a href = "https://www.roblox.com/library/<%= resourceData.itemid %>/-"><img src= "<%= resourceData.imageid %>" alt="<%= resourceData.itemname %>" align="left" width="150" height="150"><span><%= resourceData.itemname %></span><p>Creator: <%= resourceData.itemcreator %></p></a><p class="placeDesc"><%= resourceData.itemdesc %></p></div>
				<% }); %>
			</ul>
			</div>
		</section>
		<br><footer><a href = "https://discord.gg/fMb5y7T"> Contact us: https://discord.gg/fMb5y7T</a></footer>
	</body>
	<% include templates/searchresource.ejs %>
</html>